@tailwind base;
@tailwind components;
@tailwind utilities;

/* Regra para impedir que links visitados fiquem roxos */
@layer base {
  a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
  }
}